

body {
    font-family: 'Open Sans', sans-serif;
}

.icons-section {
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    background-color: #17a2b8;
}

.color {
    background-color: #E83E8C;
}

.card-body {
    font-weight: 700;
}

.list-group-item {
    font-weight: 400;
}


.card-link {
    font-weight: 400;
}

.card-title {
    color:#212529;
}

